<link rel="stylesheet" href="/css/ng/previous.css">
  <!-- 正文主体开始 -->
  <div class="index-1 tac ovh">
    <img  class="b-lazy" lazy-src="/images/previous/mobile/index-new-banner.jpg" alt="云朵陪伴  安心出游">
  </div>
  <div class="index-row-star">
    <div class="tit-nav">
      <div class="mb-w auto">
        <img class="b-lazy" lazy-src="/images/previous/mobile/index-tit-marvel.jpg" alt="漫威">
        <span>明星单品</span>
      </div>
    </div>
    <a href="/ng/#/goods/12" title="蜘蛛侠款">
    <div class="index-3">
      <div class="mb-w auto" style="background-image: url(/images/previous/mobile/index-new-zzx.jpg);">
      <div class="info-group">
        <p>云朵智能定位童鞋 </p>
        <h2>蜘蛛侠款</h2>
        <p class="price"><em>￥</em>359</p>
        <del>原价 ￥888</del>
      </div>
      </div>
    </div>
    </a>
    <a href="/ng/#/goods/26" title="钢铁侠款">
    <div class="index-4">
      <div class="mb-w auto" style="background-image: url(/images/previous/mobile/index-new-gtx.jpg);">
      <div class="info-group">
        <p>云朵智能定位童鞋 </p>
        <h2>钢铁侠款</h2>
        <p class="price"><em>￥</em>359</p>
        <del>原价 ￥888</del>
      </div>
      </div>
    </div>
    </a>
    <a href="/ng/#/goods/25" title="绿巨人款">
    <div class="index-5">
      <div class="mb-w auto" style="background-image: url(/images/previous/mobile/index-new-ljr.jpg);">
      <div class="info-group">
        <p>云朵智能定位童鞋 </p>
        <h2>绿巨人款</h2>
        <p class="price"><em>￥</em>359</p>
        <del>原价 ￥888</del>
      </div>
      </div>
    </div>
    </a>
  </div>

  <div class="index-row-recommend">
    <div class="tit-nav">
      <div class="mb-w auto">
        推荐商品
      </div>
    </div>
    <div class="row-1 fix">
      <a href="/ng/#/goods/23">
        <div class="col bd-r bd-b">
          <div class="info-group">
            <h2>美国队长盾牌款</h2>
          </div>
          <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-mgdz1.jpg" alt="美国队长盾牌款">
        </div>
      </a>
      <a href="/ng/#/goods/24">
        <div class="col bd-b">
          <div class="info-group">
            <h2>美国队长星条旗款</h2>
          </div>
          <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-mgdz2.jpg" alt="美国队长星条旗款">
        </div>
      </a>
    </div>
    <div class="row-2 fix">
      <a href="/ng/#/goods/28">
        <div class="col bd-r bd-b">
          <div class="info-group">
            <h2>冰雪奇缘安娜款</h2>
          </div>
          <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-an.jpg" alt="冰雪奇缘安娜款">
        </div>
      </a>
      <a href="/ng/#/goods/27">
        <div class="col bd-b">
          <div class="info-group">
            <h2>冰雪奇缘艾莎款</h2>
          </div>
          <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-as.jpg" alt="冰雪奇缘艾莎款">
        </div>
      </a>
    </div>
    <div class="row-3 fix">
      <div class="col bd-r">
        <a href="/ng/#/goods/14">
          <div class="row-1 bd-b">
            <div class="info-group">
              <h2>蜘蛛侠高帮款</h2>
            </div>
            <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-zzx.jpg" alt="蜘蛛侠高帮款">
          </div>
        </a>
        <a href="/ng/#/goods/29">
          <div class="row-2">
            <div class="info-group">
              <h2>银河护卫队款</h2>
            </div>
            <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-hwd.jpg" alt="银河护卫队款">
          </div>
        </a>
      </div>
      <div class="col older">
        <a href="/ng/#/goods/31">
          <div class="bd-b row-1 rel">
            <div class="info-group">
              <h2 class="tit">云朵经典款</h2>
              <p class="text-hide">任意款式   随心替换</p>
              <p class="text-hide"><em>￥</em>99</p>
              <img class="shoes-exchange-tips b-lazy" lazy-src="/images/previous/mobile/shoes-placeholder-tips.png" alt="shoes-placeholder-tips">
            </div>
            <img class="b-lazy" lazy-src="/images/previous/mobile/index-shoes-classic.jpg" alt="云朵经典款">
          </div>
        </a>
        <a href="/ng/#/goods/30">
          <div class="row-2 rel">
            <div class="info-group">
              <h2 class="tit">云朵授权款</h2>
              <p class="text-hide">任意款式   随心替换</p>
              <p class="text-hide"><em>￥</em>159</p>
              <img class="shoes-exchange-tips b-lazy" lazy-src="/images/previous/mobile/shoes-placeholder-tips.png" alt="shoes-placeholder-tips">
            </div>
            <img class="b-lazy" lazy-src="/images/previous/mobile/index-shoes-used.jpg" alt="云朵授权款">
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="parts-area">
    <div class="tit-nav">
      <div class="mb-w auto">
        配件专区
      </div>
    </div>
    <a href="http://item.jd.com/1530589140.html" title="迪士尼书包">
      <div class="row-1 mb-w auto">
        <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-bags.jpg" alt="迪士尼书包" class="disney-bags">
      </div>
    </a>
    <div class="mb-w auto fix">
      <a href="http://item.jd.com/1422064401.html" title="云朵充电线">
        <div class="col bd-r">
          <div class="tit-group">
            <h3 class="sub-tit">云朵充电线</h3>
          </div>
          <p class="tar">
            <img class="b-lazy"  lazy-src="/images/previous/mobile/index-s-line.jpg" alt="云朵充电线">
          </p>
        </div>
      </a>
      <a href="http://item.jd.com/1530600382.html" title="云朵充电宝">
        <div class="col">
          <div class="tit-group">
            <h3 class="sub-tit">云朵充电宝</h3>
          </div>
          <p class="tac">
            <img class="b-lazy" lazy-src="/images/previous/mobile/index-s-battery.jpg" alt="云朵充电宝">
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="service-list tac fix">
    <img lazy-src="/images/previous/mobile/service-list.jpg" alt="service-list" class="b-lazy">
  </div>
  <!-- 正文主体结束 -->
