    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-1.jpg" alt="爱莎公主款"></a></div>
    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-2.jpg" alt="蜘蛛侠款"></a></div>
    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-3.jpg" alt="绿巨人款"></a></div>
    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-4.jpg" alt="钢铁侠款"></a></div>
    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-5.jpg" alt="银河护卫队款"></a></div>
    <div class="mall-list"><a href="#/goods/206"><img class="b-lazy" lazy-src="/img/ng/mall-list-6.jpg" alt="云朵经典款"></a></div>
    <div class="mall-list fix">
      <div class="half"><a href="#"><img lazy-src="/img/ng/mall-list-service.jpg" alt="mall-list-service" class="b-lazy"></a></div>
      <div class="half">
        <a href="#"><img lazy-src="/img/ng/mall-list-battery.jpg" alt="mall-list-battery" class="b-lazy"></a>
        <a href="#"><img lazy-src="/img/ng/mall-list-line.jpg" alt="mall-list-line" class="b-lazy"></a>
      </div>
    </div>

    <div class="service-list tac">
      <img lazy-src="/img/ng/service-list.jpg" alt="service-list" class="vam b-lazy">
    </div>
