/*! Renewed by doers @201410 */
body, dl, dt, dd, h1, h2, h3, h4, p, form, input, ul {
    margin: 0
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

pre, textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, td, th {
    padding: 0
}

input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul, ol, li, dl, dt, dd, th, form, em, del, address, cite, i {
    font-style: normal;
    font-weight: normal;
    list-style: none
}

ul, ol, dd {
    margin-left: 0;
    padding-left: 0
}

img {
    border: 0;
    max-width: 100%;
    height: auto
}

a {
    background: transparent;
    color: #333
}

input[type="radio"] {
    cursor: pointer
}


a:active, a:hover {
    outline: 0
}

.cs-p {
    cursor: pointer
}

.fix:before, .fix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}

.fix {
    zoom: 1
}

.clear {
    clear: both
}

.tdn, .media-list a, .pages li a, .pages li a:hover, .links-list li a, .tdn:hover, .media-list a:hover, .pages li a:hover, .links-list li a:hover, .tdn a:hover, .media-list a a:hover, .pages li a a:hover, .links-list li a a:hover, a.tdl:hover {
    text-decoration: none
}

.db {
    display: block
}

.dib, .pages li a, .pages li a:hover, .media-cooperate .coo-tv, .media-cooperate .coo-pm, .media-cooperate .coo-ad, .media-cooperate .coo-action, .media-cooperate .coo-star, .media-cooperate .coo-com, .index-first .slide-1 .slide-1-link, .detail-introduce-name, .shipping .return-pro, footer .col a {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.d-tb {
    display: table
}

.d-tbr {
    display: table-row
}

.d-tbc {
    display: table-cell
}

.dn {
    display: none
}

.vam {
    vertical-align: middle
}

.fl, .pages li, .media-cooperate li, .links-list li, .index-row-2 .shoes-detail-link, .explain-use-2 .col-1, .explain-use-2 .col-2, .explain-use-2 .col-3, .explain-use-2 .col-4, .yunma-channel .reg-row .tit {
    float: left
}

.fr {
    float: right
}

.w {
    width: 1200px;
    min-width: 1200px
}

.w100 {
    width: 1000px;
    min-width: 1000px
}

@media screen and (max-width: 1279px) {
    .w {
        width: 96%
    }
}

.m0 {
    margin: 0
}

.p0 {
    padding: 0
}

.fz12 {
    font-size: 12px
}

.fz14, .shoes-size-list, .shipping .return-pro {
    font-size: 14px
}

.fz16 {
    font-size: 16px
}

.fz18 {
    font-size: 18px
}

.fz20 {
    font-size: 20px
}

.tal, .shoes-size-list .size-tit, .shoes-size-list .ft-tit td {
    text-align: left
}

.tac, .media-report-tit, .post-main .post-img, .customer-service-list, .index-row-2 .shoes-detail-link a, .index-row-5, .index-row-6, .detail-8 .tit, .detail-9 .tit, .detail-10 .tit, .detail-8 .desc, .detail-9 .desc, .detail-10 .desc, .detail-introduce-content .row-1, .detail-introduce-content .row-2, .detail-introduce-content .row-3, .shoes-size-list td, .shipping .return-pro {
    text-align: center
}

.tar, .index-first .slide-1 {
    text-align: right
}

.rel {
    position: relative
}

.abs, .index-first .slide-dot {
    position: absolute
}

.ovh {
    overflow: hidden
}

.bold, .customer-service-list .cs-tit, .shipping .return-goods em {
    font-weight: bold
}

.texthide {
    margin-left: -999em
}

.auto {
    margin-left: auto;
    margin-right: auto
}

.bd-none {
    border: 0 !important;
    outline: 0
}

body {
    font: 100%/1.5 verdana, 'Microsoft YaHei', 'Helvetica Neue', Helvetica, sans-serif
}

.wrap {
    color: #333;
    width: 100%;
    min-width: 1200px;
    overflow: hidden
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

header {
    width: 100%;
    min-width: 1200px
}

.w-nav .top-nav {
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 12px;
    *border-bottom: 1px solid #f6f6f6;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2)
}

.w-nav .top-nav span {
    color: #333;
    margin-right: 10px
}

.w-nav .top-nav a {
    text-decoration: none;
    color: #888;
    font-size: 12px
}

.w-nav .top-nav em {
    margin: 0 5px;
    color: #888;
    font-weight: 300
}

.w-nav .sub-nav {
    height: 70px;
    line-height: 70px
}

.w-nav .sub-nav .fr a {
    font-size: 16px;
    margin-left: 45px;
    text-decoration: none
}

.w-nav .sub-nav .fr a.cur {
    font-weight: bold;
    color: #00b5e9
}

.my-nav .top-nav {
    height: 30px;
    line-height: 30px;
    background: #f6f6f6;
    color: #6f6f6f;
    font-size: 12px
}

.my-nav .top-nav span {
    color: #333;
    margin-right: 10px
}

.my-nav .top-nav a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: 12px
}

.my-nav .top-nav em {
    margin: 0 5px;
    color: #6f6f6f;
    font-weight: 300
}

.my-nav .sub-nav {
    color: #fff;
    background: #00b5e9;
    height: 70px;
    line-height: 70px
}

.my-nav .sub-nav .fr a {
    color: #fff;
    font-size: 16px;
    margin-left: 45px;
    text-decoration: none
}

.crumbs-nav {
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 300;
    margin: 15px 0
}

.crumbs-nav a {
    color: #b0b0b0;
    text-decoration: none
}

.crumbs-nav em {
    margin: 0 5px;
    font-size: 12px;
    vertical-align: text-top
}

.hd-login .nav {
    background: #00b5e9;
    height: 70px;
    line-height: 70px
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(-10px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(30px)
    }
    80% {
        -moz-transform: translateX(-10px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@-ms-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -ms-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -ms-transform: translateX(30px)
    }
    80% {
        -ms-transform: translateX(-10px)
    }
    100% {
        -ms-transform: translateX(0)
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        transform: translateX(30px)
    }
    80% {
        transform: translateX(-10px)
    }
    100% {
        transform: translateX(0)
    }
}

.bounceInLeft {
    -webkit-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px)
    }
    80% {
        -webkit-transform: translateX(10px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-30px)
    }
    80% {
        -moz-transform: translateX(10px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@-ms-keyframes bounceInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -ms-transform: translateX(-30px)
    }
    80% {
        -ms-transform: translateX(10px)
    }
    100% {
        -ms-transform: translateX(0)
    }
}

@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -o-transform: translateX(-30px)
    }
    80% {
        -o-transform: translateX(10px)
    }
    100% {
        -o-transform: translateX(0)
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        transform: translateX(-30px)
    }
    80% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX(0)
    }
}

.bounceInRight {
    -webkit-animation: bounceInRight 2s;
    animation: bounceInRight 2s
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        -ms-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -ms-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        -ms-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    -webkit-animation: bounceIn 2s;
    animation: bounceIn 2s
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        -ms-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        -ms-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.bounceInDown {
    -webkit-animation: bounceInDown 2s;
    animation: bounceInDown 2s
}

.input {
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Microsoft YaHei';
    border: 1px solid #dadada;
    outline: 0
}

.input.input-text {
    height: 34px;
    width: 274px
}

.input.input-error {
    -webkit-border: 1px solid #d95453;
    -moz-border: 1px solid #d95453;
    -ms-border: 1px solid #d95453;
    border: 1px solid #d95453;
    box-shadow: 0 0 6px 0 #d95453
}

.input.input-focus {
    -webkit-border: 1px solid #00b5e9;
    -moz-border: 1px solid #00b5e9;
    -ms-border: 1px solid #00b5e9;
    border: 1px solid #00b5e9;
    box-shadow: 0 0 1px 0 #00b5e9 inset
}

.tips {
    border-radius: 2px;
    font-size: 12px;
    border: 0
}

.login-row .tips-error {
    background: url(../images/login-error.png) #f8dcdc 5px center no-repeat;
    position: absolute;
    color: #d95453;
    height: 28px;
    line-height: 28px;
    top: 3px;
    right: 3px;
    padding: 0 6px 0 25px
}

.reg-row .tips-star {
    background: url(../images/reg-star.png) no-repeat;
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    margin-right: 6px;
    padding-left: 0
}

.reg-row .tips-text {
    color: #6f6f6f;
    margin-left: 5px
}

.reg-row .tips-suc, .reg-row .tips-error {
    padding: 5px 30px;
    font-size: 12px;
    color: #d95453;
    margin-left: 5px;
    *vertical-align: 15%
}

.reg-row .tips-suc {
    background: url(../images/tips-suc.png) no-repeat;
    *display: inline-block;
    *display: inline;
    *zoom: 1
}

.reg-row .tips-error {
    background: url(../images/tips-error.png) no-repeat
}

.pass-high, .pass-low {
    color: #fff;
    padding: 0 10px;
    margin: 0 2px;
    font-weight: 300;
    font-size: 12px;
    border-radius: 2px
}

.pass-low {
    background: #c1c1c1
}

.pass-high {
    background: #ff8a00
}

.reg-row.center .getcode {
    right: 319px
}

.link-error .resend {
    width: 198px
}

.yunma-channel .input {
    width: 315px;
    height: 38px
}

.yunma-channel .input.input-text {
    width: 315px
}

.yunma-channel .input.input-text.input-ver-code {
    width: 160px;
    margin-right: 5px
}

.yunma-channel .tips-ver-code a {
    color: #00b5e9
}

.content {
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 100px
}

.side {
    border: 1px solid #d6e0e6;
    width: 178px;
    margin-right: 10px;
    border-radius: 5px;
    min-height: 580px;
    *height: 580px
}

.side .tit {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 1px solid #d6e0e6;
    margin: 0 20px
}

.side li {
    color: #6f6f6f;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    font-weight: 300
}

.side li a {
    color: #6f6f6f
}

.side .cur {
    font-weight: 700;
    border-left: 4px solid #00b5e9;
    padding-left: 16px
}

.side .cur a {
    color: #00b5e9
}

.main.full-wrap {
    background: #fff;
    width: 100%;
    border: 1px solid #d6e0e6;
    border-radius: 5px;
    min-height: 580px;
    *height: 580px
}

.main.full-wrap .tit {
    font-size: 18px;
    font-weight: normal
}

.near-main {
    background: #fff;
    width: 1008px;
    border: 1px solid #d6e0e6;
    border-radius: 5px
}

.near-main .tit {
    font-size: 18px;
    font-weight: normal
}

.info-tit {
    margin: 0 20px;
    border-bottom: 1px solid #d6e0e6
}

.info-tit .tit {
    padding: 10px 0;
    border-bottom: 1px solid #00b5e9;
    margin-bottom: -1px
}

.media-list {
    margin: 0 20px;
    padding: 20px 20px 0;
    line-height: 2;
    color: #b0b0b0
}

.media-list .interval {
    margin-bottom: 30px
}

.media-list li {
    background: url(../images/list-disc.png) 0 center no-repeat;
    padding-left: 20px
}

.pages {
    margin: 40px auto;
    width: 340px
}

.pages li {
    margin-right: 5px
}

.pages li a, .pages li a:hover {
    padding: 5px;
    border: 1px solid #d6e0e6;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px
}

.pages li.cur a {
    background: #00b5e9;
    border-color: #00b5e9;
    color: #fff
}

.media-report {
    margin: 20px 20px 50px
}

.media-report-tit {
    border-bottom: 1px dashed #bfbfbf
}

.media-report-tit .post-tit {
    padding: 10px 0
}

.media-report-tit .post-info {
    color: #b0b0b0;
    padding-bottom: 10px
}

.media-report-tit .post-info span {
    margin: 0 15px
}

.media-report-tit .media-share-wb, .media-report-tit .media-share-qzone {
    background: url(../images/media-share.jpg) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle
}

.media-report-tit .media-share-qzone {
    background-position: -26px 0
}

.post-main {
    line-height: 2;
    margin-top: 15px
}

.post-main p {
    text-indent: 2em
}

.post-main .post-img {
    margin: 5px 0
}

.media-cooperate {
    height: 330px;
    padding: 20px
}

.media-cooperate a {
    color: #6f6f6f
}

.media-cooperate li {
    width: 322.5px;
    text-align: center;
    margin-bottom: 35px
}

.media-cooperate li p {
    margin-top: 10px
}

.media-contact {
    color: #6f6f6f;
    border-top: 1px dashed #bfbfbf;
    margin: 20px;
    padding: 20px;
    line-height: 2.5
}

.faq .faq-list {
    margin: 0 20px 20px
}

.faq h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 3;
    margin-top: 20px
}

.faq p {
    color: #6f6f6f;
    overflow: hidden
}

.faq .faq-tips {
    padding: 20px
}

.faq .answer {
    float: left;
    width: 28px
}

.customer-service-list {
    color: #6f6f6f;
    margin: 20px
}

.customer-service-list .cs-qq, .customer-service-list .cs-tel, .customer-service-list .cs-wx {
    float: left;
    width: 322px;
    height: 492px
}

.customer-service-list .border-right {
    border-right: 1px dashed #ccc
}

.btn-service-qq {
    width: 100px;
    font-size: 14px;
    margin: 10px auto
}

.cs-tel .cs-phone-number {
    font-size: 28px;
    font-weight: bold
}

.cs-qq img, .cs-tel img, .cs-wx img {
    display: block;
    margin: 130px auto 10px auto
}

.cs-wx .cs-tit {
    font-size: 24px;
    padding-top: 10px
}

.links-list {
    margin: 20px;
    padding: 0 20px
}

.links-list li {
    background: url(../images/list-disc.png) 0 center no-repeat;
    padding-left: 20px;
    width: 200px;
    margin-bottom: 10px
}

.index-first {
    border-bottom: 1px solid #eee;
    height: 30px;
    min-width: 1200px;
    border-bottom: 0
}

.index-first .top-nav {
    color: #000;
}

footer {
    width: 100%;
    min-width: 1200px;
    padding: 40px 0 30px
}

footer.ft {
    border-top: 1px solid #d6e0e6
}

footer address {
    font-size: 12px;
    line-height: 2;
    text-align: center
}

footer .col {
    padding: 0 180px 0 50px;
    width: 80px;
    vertical-align: top;
    border-right: 1px solid #d6e0e6;
    height: 125px
}

footer .col a {
    color: #333;
    text-decoration: none;
    margin: 5px 0
}

footer .col-first {
    padding-left: 0
}

footer .col-last {
    padding: 0 0 0 100px;
    border-right: 0;
    width: 202px;
    text-align: right
}

footer .col-last strong {
    font-size: 28px;
    font-family: 'Microsoft Yahei', SimHei, Helvetica
}

footer .col-last p {
    margin-bottom: 6px
}

.ft .footer {
    padding-bottom: 30px;
    font-size: 14px
}

.wx-drop {
    top: 0px;
    left: 80px
}

.wx-drop img {
    width: 128px;
    height: 128px;
    max-width: none
}

.cnzz a {
    text-decoration: none
}

/*# sourceMappingURL=style.css.map */
